html {
  background: url("city.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


body{

/*  background: #678903;*/
/*  background-image:url("city.jpg");*/
/*  background-repeat: no-repeat;*/

}
